<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'chief'}) %>

<div class="container">
    <main class="valign-wrapper row">
        <form action="/chief/workers/add-worker" method="post" class="col s6 offset-s3">
            <div class="row">
                <div class="input-field">
                    <label for="lastName">Фамилия*</label>
                    <input class="validate" type="text" name="lastName" id="lastName" required><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="firstName">Имя*</label>
                    <input class="validate" type="text" name="firstName" id="lastName" required><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="patronymic">Отчество</label>
                    <input class="validate" type="text" name="patronymic" id="patronymic"><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="dateOfBirth">Дата рождения*:</label>
                    <input class="datepicker" type="text" name="dateOfBirth" id="dateOfBirth" required><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="dateOfHiring">Дата найма*</label>
                    <input class="datepicker" type="text" name="dateOfHiring" id="dateOfHiring" required><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="dateOfHiring">Дата увольнения</label>
                    <input class="datepicker" type="text" name="dateOfDismissal" id="dateOfDismissal"><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="login">Логин*</label>
                    <input class="validate" type="text" name="login" id="login" pattern="^[a-zA-Z0-9_-]{3,16}$" required>
                    <span class="helper-text" data-error="Логин должен быть не короче 3 и не длиннее 16 символов. Логин может содержать буквы, цифры, знак нижнего подчеркивания и тире "></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="password">Пароль*</label>
                    <input class="validate" type="password" name="password" id="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                    <span class="helper-text" data-error="Заполните поле. Пароль должен содержать минимум 8 символов, 1 букву и 1 цифру"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="position">Должность*</label>
                    <input type="text" name="position" id="position" required><br>   
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="salary">Зарплата*</label>
                    <input type="number" name="salary" id="salary" step="1" required><br>  
                    <span class="helper-text" data-error="Заполните поле"></span>          
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="imageURL">URL картинки*</label>
                    <input type="text" name="imageURL" id="imageURL" required><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <input type="hidden" name="userId" value="<%= userId %>">   
                <button class="btn cyan waves-effect waves-light col s4 offset-s4" type="submit">Зарегистрировать рабочего</button>
                <a href="/chief/<%= userId %>/workers" class="btn red col offset-s1 waves-effect waves-light">Отмена</a>
            </div>
        </form>
    </main>
</div>
<%- include('../includes/end.ejs') %>