

<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'chief'}) %>
<div class="container">
    <main>
        <div class="row">

            <% for (let buisnessTrip of buisnessTrips) {%>
            <div class="card large col s5">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="<%= buisnessTrip.station.imageURL %>">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><%= buisnessTrip.station.name %><i class="material-icons right">more_vert</i></span>
                  <p class="row">
                    <div class="btn <%= (buisnessTrip.status == 'Откланено') ? 'red' : '' %> <%= (buisnessTrip.status == 'Завершено успешно') ? 'green' : '' %> <%= (buisnessTrip.status != 'Откланено' && buisnessTrip.status != 'Завершено успешно') ? 'orange' : '' %> white-text lighten-1 col s12"><%= buisnessTrip.status %></div>
                    <% if (buisnessTrip.status != 'Откланено' && buisnessTrip.status != 'Завершено успешно') {%>
                        <a class="btn white orange-text lighten-1 col s5" href="/chief/<%= userId %>/buisness-trips/edit-trip/<%= buisnessTrip.id %>">Редактировать</a>
                        <form class="col s1 offset-s4" action="/chief/buisness-trips/delete-trip" method="post">
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="buisnessTripId" value="<%= buisnessTrip.id %>">
                            <button class="btn-floating red" type="submit"><i class="material-icons">delete</i></button>
                        </form>
                    <% }; %>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><%= buisnessTrip.station.name %><i class="material-icons right">close</i></span>
                  <p>Рабочий: <%= buisnessTrip.worker.getFullName %> <br> Адрес: <%= buisnessTrip.station.adress %> <br> Цель командировки: <%= buisnessTrip.goal %> <br> Продолжительность командировки: <%= buisnessTrip.duration%> дней <br> Суточные: <%= buisnessTrip.cost %> руб <br> Приказ №<%= buisnessTrip.orderNumber %> от <%= buisnessTrip.orderDate %> <br> Дата начала: <%= buisnessTrip.dateOfBegin %> </p>
                </div>
            </div>
            <% }; %>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating waves-effect btn-large red" href="/chief/<%= userId %>/buisness-trips/add-trip">
              <i class="large material-icons">add</i>
            </a>
        </div>
    </main>
</div>
<%- include('../includes/end.ejs') %>