<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'chief'}) %>
<main>
    <a href="/chief/<%= userId %>/buisness-trips/add-trip">Назначить командировку</a>
    <h2>Командировки</h2>
    <% for (let trip of buisnessTrips) {%>
        <%= trip.id %>
        <form action="/chief/buisness-trips/delete-trip" method="post">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="buisnessTripId" value="<%= trip.id %>">
            <button type="submit">Удалить</button>
        </form>
        <a href="/chief/<%= userId %>/buisness-trips/edit-trip/<%= trip.id %>">Редактировать</a>
        <hr>
    <% }; %>
    <a href="/chief/<%= userId %>">На панель</a>
</main>
<%- include('../includes/end.ejs') %>