<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'worker'}) %>

<div class="container">
    <main class="valign-wrapper onescreen row">
        <form class="col s12" action="/chief/change-login" method="post">
            <div class="row">
                <div class="input-field">
                    <label for="new-login">Новый логин*</label>
                    <input class="validate" type="text" name="newLogin" id="new-login" pattern="^[a-zA-Z0-9_-]{3,16}$" required>
                    <span class="helper-text" data-error="Логин должен быть не короче 3 и не длиннее 16 символов. Логин может содержать буквы, цифры, знак нижнего подчеркивания и тире "></span>
                </div>
            </div>
            <div class="row">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="workerId" value="<%= chief.id %>">
                <button class="btn orange lighten-1 waves-effect col s3 offset-s6" type="submit">Изменить логин</button>
                <a class="btn red col s2 offset-s1" href="/chief/<%= userId %>">Назад</a>
            </div>
        </form>
    </main>
</div>
<%- include('../includes/end.ejs') %>