<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'admin'}) %>
<div class="container">
    <form action="/chief/stations/edit-station" method="post">

        <div class="row">
            <div class="input-field">
                <label for="name">Название*</label>
                <input class="validate" type="text" name="name" id="name" value="<%= station.name %>" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="adress">Адрес*</label>
                <input class="validate" type="text" name="adress" id="adress" value="<%= station.adress %>" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="imageURL">URL фотографии*</label>
                <input type="text" name="imageURL" id="imageURL" class="validate" value="<%= station.imageURL %>" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="description">Описание*</label>
                <textarea name="description" id="description"class="materialize-textarea validate" required><%= station.description %></textarea>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="stationId" value="<%= station.id %>">
            <button class="btn cyan waves-effect col s3 offset-s6" type="submit">Редактировать</button>
            <a class="btn red col s2 offset-s1" href="/chief/<%= userId %>/stations">Отменить</a>
        </div>
    </div>
    </form>
<%- include('../includes/end.ejs') %>