<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'chief'}) %>
<div class="container">
    <main>
        <form action="/chief/buisness-trips/edit-trip" method="post">
            <div class="row">
                <div class="input-field">
                    <label for="dateOfBegin">Дата начала*</label>
                    <input class="datepicker" type="text" name="dateOfBegin" id="dateOfBegin" value="<%= trip.dateOfBegin %>" required><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="duration">Продолжительность командировки*</label>
                    <input class="validate" type="number" name="duration" id="duration" min="1" step="1" value="<%= trip.duration %>" required><br>       
                    <span class="helper-text" data-error="Заполните поле"></span>     
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="goal">Цель командировки*:</label>
                    <input type="text" name="goal" id="goal" value="<%= trip.goal %>" required> <br>            
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="orderNumber">Номер приказа*:</label>
                    <input type="text" name="orderNumber" id="orderNumber" value="<%= trip.orderNumber %>" required><br>            
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="orderDate">Дата приказа*:</label>
                    <input class="datepicker" type="text" name="orderDate" id="orderDate" value="<%= trip.orderDate %>" required><br>            
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select name="workerId" id="workerId">
                        <% for (let worker of workers) {%>
                            <option value="<%= worker.id %>" <%= (worker.id == trip.workerId) ? 'selected' : '' %>><%= worker.getFullName %></option>
                        <% }; %>
                    </select><br>            
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select name="stationId" id="stationId">
                        <% for (let station of stations) {%>
                            <option value="<%= station.id %>" <%= (station.id == trip.stationId) ? 'selected' : '' %>><%= station.name %></option>
                        <% }; %>
                    </select><br>            
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="cost">Стоимость*</label>
                    <input type="number" name="cost" id="cost" min="1" step="1" value="<%= trip.cost %>"><br>        
                </div>
            </div>
            <div class="row">
                <input type="hidden" name="buisnessTripId" value="<%= trip.id %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button class="btn cyan waves-effect col s4 offset-s4" type="submit">Редактировать</button>
                <a class="btn red col s2 offset-s2" href="/chief/<%= userId %>/buisness-trips">Назад</a>
            </div>
        </form>
    </main>
</div>
<%- include('../includes/end.ejs') %>