<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'admin'}) %>
<div class="container">
    <main class="row valign-wrapper">
        <form class="col s6 offset-s3" action="/admin/chiefs/add-chief" method="post">
            <div class="row"><div class="input-field">
                <label for="lastName">Фамилия*</label>
                <input class="validate" type="text" name="lastName" id="lastName" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div></div>
            <div class="row">
                <div class="input-field">
                    <label for="firstName">Имя*</label>
                    <input class="validate" type="text" name="firstName" id="firstName" required>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row"><div class="input-field">
                <label for="patronymic">Отчество*</label>
                <input class="validate" type="text" name="patronymic" id="patronymic" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div></div>
            <div class="row"><div class="input-field">
                <label for="login">Логин*</label>
                <input class="validate" type="text" name="login" id="login" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div></div>
            <div class="row"><div class="input-field">
                <label for="password">Пароль*</label>
                <input class="validate" type="password" name="password" id="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div></div>
            <div class="row"><div class="input-field">
                <label for="repeat-password">Повторите пароль*</label>
                <input class="validate" type="password" name="repeatPassword" id="repeat-password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                <span class="helper-text" data-error="Заполните поле. Пароль должен содержать минимум 8 символов, 1 букву и 1 цифру"></span>
            </div></div>
            <div class="row"><div class="input-field">
                <select class="validate" name="departmentId" id="departmentId">
                    <% for (let department of departments) {%>
                        <option value="<%= department.id %>"><%= department.name %></option>
                    <% }; %>
                </select>
                <span class="helper-text">Выберите отделение</span>
            </div></div>
            <div class="row"><div class="input-field">
                <label for="position">Должность*</label>
                <input class="validate" type="text" name="position" id="position" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div></div>
            <div class="row">
                <div class="input-field">
                    <label for="imageURL">URL фотографии*</label>
                    <input class="validate" type="text" name="imageURL" id="imageURL" required>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <div class="row">
                <button class="btn cyan waves-effect waves-light col s4 offset-s4" type="submit"> <i class="material-icons left">add</i>Добавить</button>
                <a class="btn red waves-effect waves-light right" href="/admin/<%= userId %>/chiefs">Отмена</a>
            </div>
        </form>
    </main>
</div>

<%- include('../includes/end.ejs') %>