<%- include('../includes/head.ejs') %>
<main>
    <form action="/admin/chiefs/add-chief" method="post">
        <label for="firstName">Имя*:</label>
        <input type="text" name="firstName" id="firstName" required><br>
        <label for="lastName">Фамилия*:</label>
        <input type="text" name="lastName" id="lastName" required><br>
        <label for="patronymic">Отчество:</label>
        <input type="text" name="patronymic" id="login" required><br>
        <label for="login">Логин*:</label>
        <input type="login" name="login" id="login" required><br>
        <label for="password">Пароль*:</label>
        <input type="password" name="password" id="password" required><br>
        <label for="repeat-password">Повторите пароль*:</label>
        <input type="password" name="repeatPassword" id="repeat-password" required><br>
        <label for="department">Отдел*:</label>
        <select name="departmentId" id="department">
            <% for (let department of departments) {%>
                <option value="<%= department.id %>"><%= department.name %></option>
            <% }; %>
        </select><br>
        <input type="hidden" name="userId" value="<%= userId %>">
        <button type="submit">Зарегистрировать</button>
    </form>
    <a href="/admin/<%= userId %>/chiefs">Назад</a>
</main>
<% include('../includes/end.ejs') %>