<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'admin'}) %>

<div class="container">
    <main class="valign-wrapper row">
        <form action="/admin/workers/add-worker" method="post" class="col s6 offset-s3">
            <div class="row">
                <div class="input-field">
                    <label for="lastName">Фамилия*</label>
                    <input class="validate" type="text" name="lastName" id="lastName" required><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="firstName">Имя*</label>
                    <input class="validate" type="text" name="firstName" id="lastName" required><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="patronymic">Отчество:</label>
                    <input class="validate" type="text" name="patronymic" id="patronymic"><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="dateOfBirth">Дата рождения*:</label>
                    <input class="datepicker" type="text" name="dateOfBirth" id="dateOfBirth" required><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="dateOfHiring">Дата найма*</label>
                    <input class="datepicker" type="text" name="dateOfHiring" id="dateOfHiring" required><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="dateOfHiring">Дата увольнения*</label>
                    <input class="datepicker" type="text" name="dateOfDismissal" id="dateOfDismissal" required><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="login">Логин*</label>
                    <input type="text" name="login" id="login" required><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="password">Пароль*:</label>
                    <input type="password" name="password" id="password" required><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select name="departmentId" id="departmentId">
                        <% for (let department of departments) {%>
                            <option value="<%= department.id %>"><%= department.name %></option>
                        <% }; %>
                    </select><br>            
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="position">Должность*:</label>
                    <input type="text" name="position" id="position"><br>   
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="salary">Зарплата*:</label>
                    <input type="number" name="salary" id="salary" step="1" required><br>  
                    <span class="helper-text" data-error="Заполните поле"></span>          
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="imageURL">URL картинки:</label>
                    <input type="text" name="imageURL" id="imageURL"><br>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>
            </div>
            <div class="row">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button class="btn cyan waves-effect waves-light col s4 offset-s4" type="submit">Зарегистрировать рабочего</button>
                <a href="/admin/<%= userId %>/workers" class="btn red col offset-s1 waves-effect waves-light">Отмена</a>
            </div>
        </form>
    </main>
</div>
<%- include('../includes/end.ejs') %>