<%- include('../includes/head.ejs') %>
<main>
    <a href="/admin/<%= userId %>/chiefs">Начальники</a>
    <a href="/admin/<%= userId %>/departments">Отделы</a>
    <a href="/admin/<%= userId %>/workers">Работники</a>
    <a href="/admin/<%= userId %>/stations">Точки назначения</a>
</main>
<%- include('../includes/end.ejs') %>