<%- include('../includes/head.ejs') %>
    <a href="/admin/chiefs/add-chief">Добавить главу отдела</a><br>
    <% for (let chief of chiefs) {%>
        <%= chief.lastName %> <br>
        <%= chief.firstName %> <br>
        <%= chief.patronymic ? chief.patronymic : '' %>
        <%= chief.department.name %>
        <hr>
    <% }; %>
<%- include('../includes/end.ejs') %>