<%- include('../includes/head.ejs') %>
    <a href="/admin/<%= userId %>/chiefs/add-chief">Добавить главу отдела</a><br>
    <% for (let chief of chiefs) {%>
        <%= chief.lastName %> <br>
        <%= chief.firstName %> <br>
        <%= chief.patronymic ? chief.patronymic : '' %><br>
        <%= chief.department.name %>
        <hr>
    <% }; %>
    <a href="/admin/<%= userId %>">На панель</a>
<%- include('../includes/end.ejs') %>