<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'admin'}) %>
<main>
    <form action="/admin/departments/edit-department" method="post">
        <label for="name">Название отдела*: </label>
        <input type="text" name="name" id="name" value="<%= department.name %>" required><br>
        <label for="adress">Адрес*:</label>
        <input type="text" name="adress" id="adress" value="<%= department.adress %>" required><br>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="departmentId" value="<%= department.id %>">
        <button type="submit">Редактировать</button>
    </form>
    <a href="/admin/<%= userId %>/departments">Назад</a>
</main>
<%- include('../includes/end.ejs') %>