<%- include('../includes/head.ejs') %>
<main>
    <a href="/admin/<%= userId %>/workers/add-worker">Добавить рабочего</a>
    <h1>Рабочие:</h1>
    <% for (let worker of workers) {%>
        <%= worker.lastName %> <br>
        <%= worker.firstName %> <br>
        <%= worker.patronymic ? worker.patronymic : '' %><br>
        <%= worker.department.name %><br>
        <%= worker.position %>
        <img src="<%= worker.imageURL %>" alt="<%= worker.lastName %>">
        <form action="/admin/workers/delete-worker" method="post">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="workerId" value="<%= worker.id %>">
            <button type="submit">Удалить</button>
        </form>
        <a href="/admin/<%= userId %>/workers/edit-worker/<%= worker.id %>">Редактировать</a>
        <hr>
    <% }; %>
    <a href="/admin/<%= userId %>">На панель</a>
</main>
<%- include('../includes/end.ejs') %>