<header>
    <nav>
        <div class="nav-wrapper cyan">
            <ul class="row center hide-on-med-and-down">
                <% if (panel == 'main') {%>
                <li class="col s2 offset-s4" ><a href="/main"><i class="material-icons left">account_circle</i>Авторизация</a></li>
                <li class="col s2" ><a href="#"><i class="material-icons left">account_balance</i>О программе</a></li>
                <% } else if (panel == 'admin') {%>
                    <li class="col s2 offset-s2"><a href="/admin/<%= userId %>/chiefs">Руководители</a></li>
                    <li class="col s2"><a href="/admin/<%= userId %>/departments">Отделы</a></li>
                    <li class="col s2"><a href="/admin/<%= userId %>/workers">Работники</a></li>
                    <li class="col s2"><a href="/admin/<%= userId %>/stations">Точки назначения</a></li>
                <% } else if (panel == 'chief') {%>
                    <li class="col s2 offset-s3"><a href="/chief/<%= userId %>/workers">Рабочие</a></li>
                    <li class="col s2"><a href="/chief/<%= userId %>/buisness-trips">Командировки</a></li>
                    <li class="col s2"><a href="/chief/<%= userId %>/stations">Остановки</a></li>
                <% } else if (panel == 'worker') {%>
                    <li class="col s2 offset-s5"><a href="/worker/<%= userId %>/buisness-trips">Мои командировки</a></li>
                <% }; %>
            </ul>
        </div>
    </nav>
</header>