<%- include('../includes/head.ejs') %>
<main>
    Поменять пароль<br>
    <form action="/worker/change-password" method="post">
        <label for="new-password">Новый пароль*:</label>
        <input type="password" name="newPassword" id="new-password" required><br>
        <label for="repeat-new-password">Повторите новый пароль*:</label>
        <input type="password" name="repeatNewPassword" id="repeat-new-password"><br>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="workerId" value="<%= worker.id %>">
        <button type="submit">Изменить пароль</button>
    </form>
    <a href="/worker/<%= userId %>">Назад</a>
</main>
<%- include('../includes/end.ejs') %>